  h1
    {
        font-size:34px;
        font-family: Times New Roman, Times, serif;
        color:rgb(32, 101, 144);
    }
    p{
        font-family: Open Sans, Arial, sans-serif;
    }

    .ul li a
    {
        font-family: Open Sans, Arial, sans-serif;
    }

    .section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

header {
  background-image: linear-gradient(
      to right,
      rgba(18, 172, 142, 0.9),
      rgba(18, 172, 142, 0.7)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo span {
  color: var(--secondary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link a {
  padding: 0.5rem;
  color: var(--primary-color-light);
}

.link a:hover {
  color: var(--white);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--white);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--primary-color-light);
}   

.container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.footer {
  background-color: var(--primary-color-light);
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h3 span {
  color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: var(--primary-color);
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__content {
    text-align: center;
  }

  .why__grid {
    text-align: left;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__grid {
    column-gap: 1rem;
  }

  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.navigation-buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.navigation-buttons a {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1rem;
}

/* .navigation-buttons a:hover {
  background-color: var(--secondary-color);
} */
 