body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
  }
  .container {
    
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .header {
    text-align: center;
    padding: 20px 0;
  }
  .header h1 {
    margin: 10px 0;
    font-size: 36px;
    color: #007bff;
  }
  .header p {
    margin: 0;
    font-size: 18px;
    color: #888;
  }
  .column {
    margin-bottom: 30px;
  }
  .column img {
    
    width: 50%;
    border-radius: 30px;
  }
  .details, .nutrition, .ingredients, .method {
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  h2 {
    margin-top: 0;
    color: #007bff;
  }
  p, li {
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #0056b3;
  }